body {
    background: linear-gradient(black, #2f2f2f, black) fixed
}

section.content {
    position: absolute;
    top: 11vh;
    width: 98%;
    margin: 1%;
    /* padding: 5vh; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section aside {
    margin: 10px;
    /* margin-right: 10vw; */
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 20px;
    /* width: 40vw; */
    padding: 1%;
    text-align: center;
    color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section aside .values {
    display: flex;
    height: 80%;
    /* flex-direction: column; */
    justify-content: space-evenly;
}

section aside h1 {
    color: white;
    font-size: 20px;
    font-family: monospace
}

section aside p {
    display: inline-block;
    color: white;
}

section aside .coef-container {
    overflow-y: auto;
    margin: 10px;
    height: 90%;
    max-height: 40vh;
}

section aside .coef-container .coef input {
    display: inline-block;
    width: 120px;
    background: rgba(221, 221, 221, 0.452);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 5px 8px 2px rgb(36 36 36);
    margin: 4px;
    text-align: center;
    color: white;
    padding: 4px;
}

section aside .coef-container .coef input::placeholder {
    color: white;
}

section aside .coef-container .coef input[type=button] {
    width: 30px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

section aside .coef-container .coef .coef-add {
    height: 30px;
    background: rgb(83, 165, 1);
    border: 1px solid rgb(35, 218, 35);
    font-size: 20px;
}

section aside .coef-container .coef .coef-add:hover {
    /* background: rgb(105, 192, 18); */
    box-shadow: 0px 4px 4px 0px #9a9a9abf;
}

section aside .coef-container .coef .coef-remove {
    height: 30px;
    background: rgb(129, 4, 4);
    border: 1px solid rgb(241, 6, 6);
    font-size: 20px;
    /* font-weight: 800; */
}

section aside .coef-container .coef .coef-remove:hover {
    /* background: rgb(247, 40, 40); */
    box-shadow: 0px 4px 4px 0px #9a9a9abf;
}

.plot {
    width: 50%;
    /* aspect-ratio: 1; */
    margin-left: 10px;
    /* height: 400px; */
}

.plot canvas {
    aspect-ratio: 1;
}

.controls input[type="button"] {
    background: rgb(21, 164, 247);
    border: 1.5px solid rgb(79, 242, 253);
    padding: 1% 30%;
    border-radius: 30px;
    width: 80%;
    margin: 1% 0;
}

.controls input[type="button"]:hover {
    background: rgb(21, 164, 247, 0.8);
}

.controls input[type="text"] {
    width: 20%;
    text-align: center;
    background: gray;
    border: none;
    margin: 1vh 1vw;
}

.controls input[type="text"]:focus {
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1100px) {
    section aside {
        width: 90vw;
        /* margin-right: 0; */
        margin-bottom: 5vh;
    }
    section aside .coef-container .coef input {
        width: 80%;
    }
    .plot {
        width: 80vw;
        aspect-ratio: 1/ 1;
        margin: 0 auto;
        margin-bottom: 5vh;
    }
    footer {
        display: none;
    }
}